<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
   <!-- In views/index.ejs -->
<ul>
<li>First Name:<%= user.firstName %></li>
<li>Last Name:<%= user.lastName %></li>
<li>Email:<%= user.email %></li>
<li>Age:<%= user.age %></li>
<li> Bio:<%= user.bio %> </li>
  </ul>

  
  <a href="/create">Create a user</a>
</body>
</html>