<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
   <!-- In views/index.ejs -->
<ul>
  <% for (let i = 0; i < user.length; i++) { %>
    <h3>Message <%=[i]%></h3>
    <li>
        <p><%= user[i].firstName %></p>
        <p><%= user[i].lastName %></p>
        <p><%= user[i].email %></p>
        <p><%= user[i].age %></p>
        <p><%= user[i].bio %></p>
    </li>
<% } %>
  </ul>

  
  <a href="/create">Create a user</a>
</body>
</html> 
